################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
ASE-Boose-Interpreter-WebApp\ASE-Boose-Interpreter-WebApp\bin
ASE-Boose-Interpreter-WebApp\ASE-Boose-Interpreter-WebApp\obj
