################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ASE_Project_Ekauf/ASE_Project_Ekauf/README.md
